* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Times New Roman', serif;
}

.box {
    background-color: aliceblue;
    border-radius: 30px;
    border: 1px solid grey;
    width: 90%;
    max-width: 400px;
    padding: 20px;
    text-align: center;
}
img {
    max-width: 100%;
    height: auto;
}